<html xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/result_header :: result_header" />

<style>
    body{
        background-color: #C2D9A2;
        font-family: 'Sunflower', sans-serif;
    }
    a{
        text-decoration-color: none;
        text-decoration: none;
        color: white;
    }
</style>
<body>


    <div class= "result1_box">
        <p class="result1"> 콘센트? 다뽑아! "아낌왕 전기"</p>

        <p class="content"> 안쓰는 콘센트도 전기가 흐르고 있어요 </p>
        <p class="content"> 오늘 한 번 집안을 둘어보는건 어때요?</p>
        <div class="recommend">
            <div class="recommend1">
                <img class="earth" src="/img/earth.png">
                <p class="re_text"> 당신에게 추천하는 탄소감축 루틴은 ? </p>
                <img class="earth" src="/img/earth.png">
            </div>
            <div class="recommend2">
                <p class = "ment1"> 뽑아뽑아 챌린지 </p>
                <p class = "ment2"> 콘센트를 뽑는것이 우리동네를 맑게 만드네요!</p>
            </div>
        </div>

        <hr class="line">

        <div class="atc">
            <a href= "/"> 메인화면으로 돌아가기 </a>
        </div> 
    </div>
</body>
</html>