<html xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/result_header :: result_header" />

<style>
    body{
        background-color: #C2D9A2;
        font-family: 'Sunflower', sans-serif;
    }
    a{
        text-decoration-color: none;
        text-decoration: none;
        color: white;
    }
</style>
<body>


    <div class= "result1_box">
        <p class="result1"> 매일이 운동, 매일이 맑음! "내이름 김계단"</p>

        <p class="content"> 저층은 엘리베이터가 굉장히 전력 소비가 심해요 </p>
        <p class="content"> 오늘은 운동삼아 계단을 이용해보시는건 어때요?</p>
        <div class="recommend">
            <div class="recommend1">
                <img class="earth" src="/img/earth.png">
                <p class="re_text"> 당신에게 추천하는 탄소감축 루틴은 ? </p>
                <img class="earth" src="/img/earth.png">
            </div>
            <div class="recommend2">
                <p class = "ment1"> 에베레스트 챌린지 </p>
                <p class = "ment2"> 계단타고 몸도 건강! 우리 동네도 건강!</p>
            </div>
        </div>

        <hr class="line">

        <div class="atc">
            <a href= "/"> 메인화면으로 돌아가기 </a>
        </div> 
    </div>
</body>
</html>