<html xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/result_header :: result_header" />

<style>
    body{
        background-color: #C2D9A2;
        font-family: 'Sunflower', sans-serif;
    }
    a{
        text-decoration-color: none;
        text-decoration: none;
        color: white;
    }
</style>
<body>


    <div class= "result1_box">
        <p class="result1"> 진짜로 진짜로 실천왕 "탄소 청소기"</p>

        <p class="content"> 탄소 줄이는 활동, 인상 깊어요! </p>
        <p class="content"> 앞으로도 자주 해주셔서 깨끗한 우리동네 만들어 주실꺼죠?</p>
        <div class="recommend">
            <div class="recommend1">
                <img class="earth" src="/img/earth.png">
                <p class="re_text"> 당신에게 추천하는 탄소감축 루틴은 ? </p>
                <img class="earth" src="/img/earth.png">
            </div>
            <div class="recommend2">
                <p class = "ment1"> 앞으로도 해다오 </p>
                <p class = "ment2"> 작은 실천으로도 우리동네가 맑아질수 있어요!</p>
            </div>
        </div>

        <hr class="line">

        <div class="atc">
            <a href= "/"> 메인화면으로 돌아가기 </a>
        </div> 
    </div>
</body>
</html>