<html xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/result_header :: result_header" />

<style>
    body{
        background-color: #C2D9A2;
        font-family: 'Sunflower', sans-serif;
    }
    a{
        text-decoration-color: none;
        text-decoration: none;
        color: white;
    }
</style>
<body>


    <div class= "result1_box">
        <p class="result1"> 자차보단 대중교통이지~ "내차는 버스"</p>

        <p class="content"> 대중교통이 탄소 절감에 큰 역할을 하는것 아시나요? </p>
        <p class="content"> 오늘은 자차보다는 대중교통을 이용해보는건 어때요?</p>
        <div class="recommend">
            <div class="recommend1">
                <img class="earth" src="/img/earth.png">
                <p class="re_text"> 당신에게 추천하는 탄소감축 루틴은 ? </p>
                <img class="earth" src="/img/earth.png">
            </div>
            <div class="recommend2">
                <p class = "ment1"> 대중교통 챌린지 </p>
                <p class = "ment2"> 지하철과 버스만으로도 우리동네가 맑아질수 있어요!</p>
            </div>
        </div>

        <hr class="line">

        <div class="atc">
            <a href= "/"> 메인화면으로 돌아가기 </a>
        </div> 
    </div>
</body>
</html>