<html xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/result_header :: result_header" />

<style>
    body{
        background-color: #C2D9A2;
        font-family: 'Sunflower', sans-serif;
    }
    a{
        text-decoration-color: none;
        text-decoration: none;
        color: white;
    }
</style>
<body>


    <div class= "result1_box">
        <p class="result1"> 이게 재활용의 표본이지 "재활용 왕자"</p>

        <p class="content"> 재활용도 예전보다 까다로워진것 아시나요? </p>
        <p class="content"> 오늘은 페트병 비닐도 떼어보는건 어때요?</p>
        <div class="recommend">
            <div class="recommend1">
                <img class="earth" src="/img/earth.png">
                <p class="re_text"> 당신에게 추천하는 탄소감축 루틴은 ? </p>
                <img class="earth" src="/img/earth.png">
            </div>
            <div class="recommend2">
                <p class = "ment1"> 활용활용 챌린지 </p>
                <p class = "ment2"> 재활용을 꾸준히 실천하여 자원을 아껴봐요!</p>
            </div>
        </div>

        <hr class="line">

        <div class="atc">
            <a href= "/"> 메인화면으로 돌아가기 </a>
        </div> 
    </div>
</body>
</html>